<!doctype html>
<html lang="en" ng-app="bookStoreApp">
<head>
  <meta charset="utf-8">
  <title>Ejemplo de Libros en Angular</title>
  <link rel="stylesheet" href="css/app.css"/>
  <!-- Agregamos angular para que funcione  -->
  <script src="../node_modules/angular/angular.min.js"></script>

  <!-- Jquery -->
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>

  <!-- Tether -->
  <script src="../node_modules/tether/dist/js/tether.min.js"></script>
  <link rel="stylesheet" href="../node_modules/tether/dist/css/tether.min.css"/>


  <!-- Bootstrap -->
  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"/>

  <!-- Importamos los archivos extras que vamos a usar -->
  <script src="js/app.js"></script>
  <script src="js/service.js"></script>
  <script src="js/authorsController.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="bookStoreController as bookStore">

	<div class="filtro">
		<span class="buscarLibros">Buscar:</span>
		<input ng-model="bookStore.wantedBook" class="filtroLibros">
	</div>

		<!-- Button trigger modal (Add Book) -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bookModal">
  +
</button>
</br>
	 <table class="tablaLibros">
	 	<tr>
			<th>Id</th>
	 		<th>Titulo</th>
	 		<th>Autor</th>
	 		<th>Editorial</th>
	 		<th>Año</th>
	 	</tr>
		<tr ng-repeat="book in books  | filter:bookStore.wantedBook track by $index">
			<td>{{book.id}}</td>
			<td>{{book.title}}</td>
			<td>{{book.author}}</td>
			<td>{{book.editorial}}</td>
			<td>{{book.releaseYear}}</td>
			<td><a class="btn btn-primary" ng-click="bookStore.startEditingBook(book)">Edit</a></td>
     		<td><a class="btn btn-danger"  ng-click="bookStore.deleteBook(book)">Delete</a></td>
		</tr>
	</table>


  <!--Authors filter -->
<div ng-controller="allAuthorsController as authController">

  <div class="filtroAutores">
    <span class="buscarAutores">Buscar:</span>
    <input ng-model="authController.wantedAuthor" class="filtroAutores">
  </div>

     <!-- Button trigger modal (Add Author) -->
<div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#authorModal">
  +
</button>
</br>
   <table class="tablaAutores">
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Pais</th>
    </tr>
    <tr ng-repeat="author in authors  | filter:allAuthors.wantedAuthor track by $index">
      <td>{{author.id}}</td>
      <td>{{author.firstName}}</td>
      <td>{{author.lastName}}</td>
      <td>{{author.country}}</td>
      <td><a class="btn btn-primary" ng-click="allAuthors.startEditingAuthor(author)">Editar</a></td>
        <td><a class="btn btn-danger"  ng-click="allAuthors.deleteAuthors(author)">Eliminar</a></td>
    </tr>
  </table>
</div>
</div>

<!-- Modal (Add Book) -->
<div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="bookStore.cancelChangesIfEditing()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <span class="buscarLibros">Titulo:</span>
		<input ng-model="book.title" class="filtroLibros"></br>

		<span class="buscarLibros">Autor:</span>
		<input ng-model="book.author" class="filtroLibros"></br>

		<span class="buscarLibros">Editorial:</span>
		<input ng-model="book.editorial" class="filtroLibros"></br>

		<span class="buscarLibros">Año:</span>
		<input ng-model="book.releaseYear" class="filtroLibros"></br>

      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="bookStore.cancelChangesIfEditing()">Close</button>
        <button type="button" id="okButton" class="btn btn-primary" ng-click="bookStore.addOrEditBook()">Save</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal (Add Author) -->
<div ng-controller="allAuthorsController as authController">

<div class="modal fade" id="authorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitleAuthors" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="authorModalTitle">Agregar Autor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="authController.cancelChangesIfEditing()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <span class="buscarAutores">Nombre:</span>
    <input ng-model="author.firstName" class="filtroAutores"></br>

    <span class="buscarAutores">Apellido</span>
    <input ng-model="author.lastName" class="filtroAutores"></br>

    <span class="buscarAutores">País</span>
    <input ng-model="author.country" class="filtroAutores"></br>

      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="authController.cancelChangesIfEditing()">Cancelar</button>
        <button type="button" id="addAuthorButton" class="btn btn-primary" ng-click="authController.addOrEditAuthor()">Guardar</button>
      </div>
    </div>
  </div>
</div>
</div>

</body>
</html>
